[Unit]
Description=RFID Dashboard Flask App
After=network.target

[Service]
User=tim
WorkingDirectory=/home/tim/test_rfidpi
ExecStart=/home/tim/test_rfidpi/start.sh
Restart=always
RestartSec=5
# Let Gunicorn handle logging, no systemd redirect
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rfid_dash_test

[Install]
WantedBy=multi-user.target
