{% extends "base.html" %}
{% block content %}

<p style="text-align: center;"><strong>Welcome to the BT&E RFID TEST DASHBOARD. </strong></p>
<p style="text-align: center;">Use the tabs above to view detailed information, or click "REFRESH DATA" to update data immediately.</p>
<p style="text-align: center;">THIS SERVER WILL BE THE MOST RECENT but may have crashes.</p>
<h3 style="padding-left: 240px;"><strong>Scanable Items- </strong></h3>
<ul>
<li style="list-style-type: none;">
<ul>
<li style="list-style-type: none;">
<ul>
<li style="list-style-type: none;">
<ul>
<li style="list-style-type: none;">
<ul>
<li style="list-style-type: none;">
<ul>
<li style="list-style-type: none;">
<ul>
<li>
<h3><strong>All Linens(except Spandex, Napkins, Runners, and Sashes)</strong></h3>
</li>
<li>
<h3><strong> All Resale</strong></h3>
</li>
<li>
<h3><strong> All AV and Concession</strong></h3>
</li>
<li>
<h3><strong> All Tent Tops</strong></h3>
</li>
<li>
<h3><strong> Garden Chairs</strong></h3>
</li>
<li>
<h3><strong> Cocktail Tbl Tops &amp; Legs</strong></h3>
</li>
<li>
<h3><strong> Carpet Runners</strong></h3>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>{% endblock %}
